<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.universitaria.de.colombia.grupo.42.control.tesis"
	version 	= "1.0.0-SNAPSHOT">
	<name>Universitaria de Colombia</name>
	<description>
		Universitaria de Colombia - Gestión de Tesis-Grupo 42
	</description>
	<author href="https://github.com/EdwardHernandezN"
		email="edward.hernandez.corp@gmail.com">
		Edward
	</author>
	<icon src="icon.png" gap:role="default" />
	<preference name="stay-in-webview" value="true" />
	<allow-navigation href="*" />
	<access origin="*" />
	<plugin spec="https://github.com/apache/cordova-plugin-network-information.git" source="git" />
</widget>